<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-angellist"></i> <span>Invoicemaster</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img th:src="@{/assets/images/user.png}" alt="..." class="img-circle profile_img"/>
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2 sec:authentication="name">John Doe</h2>
            </div>
        </div>

        <div class="clearfix"></div>
        <!-- /menu profile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Feature Flags  <span class="glyphicon glyphicon-flag" aria-hidden="true"></span></h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-product-hunt "></i> Applications <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a th:href="@{/applications}">overview</a></li>
                            <li><a th:href="@{/applications/add}">add application</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-money "></i> Features <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a th:href="@{/features}">overview</a></li>
                            <li><a th:href="@{/features/add}">add features</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>
